.deps/*
*.o
*.Po
*.Plo
*.lo
*.la
*.a
output*
*.m4
config.*
Makefile
Makefile.in
autom4te.cache
font
install-sh
KakaoTalk_Video_2017-07-03-16-41-59.mp4
libtool
*.sh
configure
compile
depcomp
missing
ar-lib
stamp-h1


###bin
Player
src/Game
